<!DOCTYPE html>
<html>
<head>
    <title>Login - YarraScan</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form method="post" action="/login">
        <h2>YarraScan Login</h2>
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit" value="Login">
    </form>
    <footer>© 2025 YarraScan | AI Security Tool by Raghav</footer>
</body>
</html>
